# LSDK archive
flexbuild_lsdk*

# LSDK sources
LICENSE
Makefile
README.md
configs
docker
docs
include
packages
setup.env
tools

# LSDK build products
logs
build
packages
.patches-applied

# Misc
.bashrc
flexbuild_lsdk2004.tgz
